body{
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-align: center;
  background-color: #f5ede6;
}

h1, h2{
  font-weight: 300;
}

h2{
  color: #777;
}

a, a:link, a:visited{
  color: #5d7da7;
  text-decoration: none;
}

a:hover{
  color: #232d5f;
  text-decoration: underline;
}

footer{
  color: #aaa;
  font-size: 12px;
  font-weight: 300;
  padding: 20px;
}

.map-container{
  margin-top: 10px;
}

.block{
  display: inline-block;
  // border: 1px solid #ccc;
  margin: 5px;
  text-align: center;
  width: 280px;
  padding: 10px;
}

.block .title{
  font-weight: bold;
}